@use 'colors' as clr;

@mixin separation_line {
  border: none;
  border-top: 1px solid clr.$main;
}

@mixin border_button {
  padding: 0.5rem 1.5rem;
  background-color: transparent;
  color: clr.$main;
  font-weight: 600;
  font-family: inherit;
  border: 1px solid clr.$main;
  border-radius: 0.5rem;
  cursor: pointer;
}

@mixin solid_button {
  background: clr.$main;
  width: 100%;
  padding: 3px;
  border-radius: 8px;
  font-size: 18px;
  cursor: pointer;
  border: none
}

@mixin input_styles {
  width: 100%;
  height: 30px;
  background: transparent;
  border-radius: 8px;
  border: 1px solid clr.$main;
  outline: none;
  padding: 4px;
  transition: border .1s;

  &:focus {
    border: 4px solid clr.$main;
  }
}