@use 'colors' as clr;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: clr.$text;
}

html {
  font-size: 16px;
}

body {
  height: 100dvh;
  background-color: clr.$background;

  .mainContainer {
    display: grid;
    grid-template-columns: 16rem auto 20rem;
    gap: 1rem;
    max-width: 1120px;
    margin: auto;
  }

  .mainProfile {
    @extend .mainContainer;
    grid-template-columns: 16rem 1fr;
  }
}

// styles for the scroll bar

/* width */
::-webkit-scrollbar {
  width: 10px;
  z-index: -1;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #d8d8d8;
  opacity: 10px;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb:hover {
  background: #c9c9c9;
  opacity: 10px;
  border-radius: 10px;
}