@use 'colors' as clr;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: clr.$text;
}

html {
  font-size: 16px;
}

body {
  height: 100dvh;
  background-color: clr.$background;

  .mainContainer {
    display: grid;
    grid-template-columns: 16rem auto 20rem;
    gap: 1rem;
    max-width: 1120px;
    margin: auto;
  }
}