@use 'colors' as clr;
@use 'utils' as utl;

.sideBar {
  max-width: 16rem;
  height: 100dvh;
  border-right: 1px solid clr.$main;
  padding-block: 1rem;

  .logo {
    font-size: 2.5rem;
    font-weight: 700;
    color: clr.$main;
    text-align: center;
  }

  .userInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem 0;

    .image {
      width: 5rem;
      height: 5rem;
      border-radius: 50%;
      overflow: hidden;
      border: 1px solid clr.$main;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .labels {
      text-align: center;
      .name {
        font-size: 1.5;
        font-weight: 600;
      }
  
      .label {
        font-size: 1rem;
        font-weight: 500;
        opacity: .8;
      }
    }
  }

  .separationLine {
    @include utl.separation_line;
  }

  .menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1rem;
    padding: 1rem;

    .link {
      display: flex;
      align-items: center;
      gap: 1rem;
      font-size: 1.25rem;
      font-weight: 600;
      text-decoration: none;
      position: relative;
      transition: opacity .2s linear;
      
      .icon {
        width: 1.5rem;
        height: auto;
      }

      &::after {
        position: absolute;
        content: '';
        width: 100%;
        left: 0;
        bottom: -4px;
        border-top: 2px solid clr.$text;
        transform: scaleX(0);
        transform-origin: right;
        transition: transform .2s ease-out;
      }

      &:hover::after {
        transform: scaleX(1);
        transform-origin: left;
      }

      &:hover {
        opacity: .6;
      }

      &.active {
        color: clr.$main;

        .icon {
          fill: clr.$main;
        }

        &::after {
          border-top: 2px solid clr.$main;
        }
      }
    }
  }
}