@use "colors" as clr;

.figure {
  display: flex;
  align-items: center;
  gap: 1rem;
  .user {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid clr.$main;
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
  .name {
    color: clr.$text;
    font-size: 1rem;
  }
  .workstation {
    color: rgba($color: clr.$text, $alpha: 0.5);
    font-size: 0.8rem;
  }
}
